# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# VS Code
.vscode/

# Environment variables
backend/.env
frontend/.env
.env   

# Mac
.DS_Store

# Logs
*.log